<%# Navigation %>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid d-flex justify-content-end" >
    <a class="navbar-brand" href="#"></a>
<p><%= link_to "add new list of genre", new_list_path(@list),  class: "btn btn-flat" %></p>
 </div>
</nav>




<%# Banner %>
<div class="cover d-flex align-items-center justify-content-center mb-4 logo">
    <div class="text-center text-white">
      <h1>Save any kind of movies</h1>
    </div>
</div>


<div class="container py-5">

<h1>List of Genre</h1>

</div>

<%= cl_image_tag("zd1iwla50prx113r7wp70j4krqzo", width: 400, height: 300, crop: :fill) %>

<ul>
  <% @lists.each do |list| %>
  <li><%= link_to list.name, list_path(list) %></li>
<%= link_to list_path(list),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
  <i class = "fa-regular fa-trash-can" ></i>
  <% end %>
  <% end %>
</ul>
